<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Shop</title>
    <form action="/shop/new" method="post">
      <div>
        <label for="name">Shop Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="city">City</label>
        <input type="text" name="city" id="city" />
      </div>
      <div>
        <label for="shopemail">E-mail</label>
        <input type="email" name="shopemail" id="shopemail" />
      </div>
      <button>Sumbit</button>
    </form>
  </head>
  <body></body>
</html>
